:root {
  --main-color: #ff9f0d;
  --text-color: #fff;
  --other-color: #212121;
  --second-color: #9e9e9e;
  --bg-color: #111111;
  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

.about {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 4rem;
}

.score,
.question {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  font-size: var(--p-font);
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
th {
  background-color: var(--main-color);
}
input[type="number"] {
  width: 80%;
  padding: 5px;
  font-size: var(--p-font);
}
.feedback {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.code {
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 5px;
}

pre {
  font-size: var(--p-font);
}

input {
  width: 80px;
  padding: 5px;
  margin: 5px 0;
  font-size: var(--p-font);
}

.btn {
  margin-top: 10px;
}

.quiz-container {
  text-align: left;
}

.quiz-space {
  display: flex;
  justify-content: center;
}

.first {
  width: 30%;
}

.second {
  text-align: left;
}
